---
import FooterContent from './FooterContent'
---

<footer class="bg-gradient-to-t from-background to-background/50 border-t border-white/10">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    <FooterContent client:load />
  </div>
</footer>
